.task {
    border: 5px solid #000;
    width: 350px;
    padding: 10px;
}

.task:not(:last-child) {
    margin-bottom: 20px;
}

.task.selected {
    border: 5px solid blue;
}

.done span {
    text-decoration: line-through;
    opacity: 0.6;
}

.sublist {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sublistItem {
    display: flex;
    align-items: center;
    gap: 5px;
}