.list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    padding: 0;
    width: 350px;
}

.item {
    text-align: left;
    padding: 10px;
}

.item div {
    font-weight: 700;
}

.item span {
    font-weight: 400;
}
